// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 5px; }



  #notice {
    color: rgb(17, 182, 223); }